AWS_REGION=us-east-1
DVC_S3_BUCKET=
MLFLOW_TRACKING_URI=
MLFLOW_EXPERIMENT_NAME=workforce-multitask
AWS_PROFILE=default
ECR_REPOSITORY=workforce-mlops-app
EC2_USER=ubuntu
GITHUB_REPO=<owner>/workforce-mlops
